# Dependency directories
node_modules/

# Logs
logs
*.log
yarn-error.log

# Optional config files (use .example)
.env
yarn.lock
src/config.js

# Generated config files
Lavalink/application.yml
lavaNodesConfig.js