module.exports = {
    name: 'example',
    description: 'example command for code refernece',
    cooldown: 5,
    guildeOnly: true,
    permissions: 'KICK_MEMBERS',
    aliases: ['example'],
    usage: '[example]',
    args: true,
    execute(message, args) {
        message.reply('This command does absolutely nothing.');
        message.channel.send('Here are your arguments, ' + args);
    },
};
